tmp/
*.tmp
*.bak
*.log
*~*
*.iml
out/
.idea/
*.ipr
*.iws
.gradle
app/build/
build/
gradle-app.setting
!gradle-wrapper.jar
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.apk
*.ap_
*.dex
bin/
gen/
local.properties
proguard/
.navigation/
gen-external-apklibs
